@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --text: 0 0% 0%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 217.5 12.12% 12.94%;
    --foreground: 206.25 13.56% 23.14%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    
    --border: 206.25 13.56% 23.14%;
    --text: 211.03 17.79% 68.04%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

body[data-accordion="open"] {
  overflow-y: hidden;
}

body[data-accordion="close"] {
  overflow-y: auto;
}

.navUnderline {
  position: absolute;
  bottom: 0px;
  left: 1rem;
  right: 1rem;
  height: 2px;
  background: #0066FF;
}

@media(min-width: 990px){
  .price-order-1 {
    order: 1;
  }
  .price-order-2 {
    order: 2;
  }
  .price-order-3 {
    order: 3;
  }
  .price-order-4 {
    order: 4;
  }
  .price-order-5 {
    order: 5;
  }
  .price-order-6 {
    order: 6;
  }
  .price-order-7 {
    order: 7;
  }
  .price-order-8 {
    order: 8;
  }
  .price-order-9 {
    order: 9;
  }
  .price-order-10 {
    order: 10;
  }
  .price-order-11 {
    order: 11;
  }
  .price-order-12 {
    order: 12;
  }
  .price-order-13 {
    order: 13;
  }
  .price-order-14 {
    order: 14;
  }
  .price-order-15 {
    order: 15;
  }
  .price-order-16 {
    order: 16;
  }
  .price-order-17 {
    order: 17;
  }
  .price-order-18 {
    order: 18;
  }
  .price-order-19 {
    order: 19;
  }
  .price-order-20 {
    order: 20;
  }
  .price-order-21 {
    order: 21;
  }
  .price-order-22 {
    order: 22;
  }
  .price-order-23 {
    order: 23;
  }
  .price-order-24 {
    order: 24;
  }
}
